# REQUIRED CONFIG
BOT_TOKEN = "6129265256:AAHzq-jay3_l5MNYkr-gnwu67rcVJwBu1W8"
GDRIVE_ID = "0ACu4V0L-I5gBUk9PVA"
OWNER_ID = 874921537
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 10
AUTO_DELETE_MESSAGE_DURATION = 20
TELEGRAM_API = 11189121
TELEGRAM_HASH = "a8f410f8c995f92e88fc5411c61cac99"
# OPTIONAL CONFIG
AUTO_DELETE_UPLOAD_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = "False"
DATABASE_URL = ""
AUTHORIZED_CHATS = "-1001729422813 -1001157414268 -1001718235183"
SUDO_USERS = "1802920344 874921537 563896360"
IGNORE_PENDING_REQUESTS = ""
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://0.dailyshowstv.workers.dev/0:/"
STATUS_LIMIT = "4"
STOP_DUPLICATE = "True"
CMD_INDEX = ""
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "False"
# Mirror
MIRROR_LOGS = "-1001662423682"
BOT_PM = "True"
FORCE_BOT_PM = ""
# Leech
LEECH_LOG = "-1001662423682"
USER_SESSION_STRING = "BQAgR4XL0Gw5RHJQTWT4uo6-nKrVM3Ro70sBBkDZ5U76MZTGzslXTYMP1pfnY6_GLEwjokP5GIvKml-vb6d1IwmYt6lUxsHe6H2U1VomZRiNlI6Tco4HxqeNjL4yBIhs4S6ItUAVdy_ZK7ioEjqzZRqKDwPa_mz9XJFAYYpdYf59mriUODxQRXH0BYmX4KNNtcffw87m89n0l6giUplp1cQcqqw2Ff8fQVdaNZKGclPSokEF1A52Rhs1-lutDMSQwodSpOFm0dYMBbmrhjHZU9MmUfstpBqitNDyUZzzTg3x8jU1bWG46YdUTNaoQikXXeaUHTlU-SZxLLFVILVa0bgTAAAAAT8AbysA"
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""
# Update
UPSTREAM_REPO = "https://github.com/anasty17/mirror-leech-telegram-bot"
UPSTREAM_BRANCH = ""
# qBittorrent/Aria2c
BASE_URL_OF_BOT = "https://ranjan56herokuapp.com"
SERVER_PORT = ""
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""
# Private Files
ACCOUNTS_ZIP_URL = ""
TOKEN_PICKLE_URL = "https://github.com/irfan36bot/mirror-leech-telegram-bot/blob/master/token.pickle?raw=true"
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = "https://gist.github.com/irfan36bot/b734feb92acc0f5f0ef60a6943d6382d/raw/cookies.txt"
NETRC_URL = ""
# Mega
MEGA_API_KEY = "S_e6niaFbxhTgb1GXDcbhg"
MEGA_EMAIL_ID = "rajendra5das@gmail.com"
MEGA_PASSWORD = "ra12ra12"
# Gdtot
CRYPT = "UTdlQ21GeDIyWG94aWwwUjJXSVBNbWU5c05pbGtDKzhNNlZrVG1lTUtZdz0"
# Appdrive
APPDRIVE_EMAIL = "kumarranjan84189@gmail.com"
APPDRIVE_PASS = "ra12ra12"
# Size Limits
TORRENT_DIRECT_LIMIT = ""
ZIP_UNZIP_LIMIT = ""
CLONE_LIMIT = ""
MEGA_LIMIT = ""
STORAGE_THRESHOLD = ""
# Telegraph ui
TITLE_NAME = "Ranjan-Mirror-Search"
AUTHOR_NAME = "Ranjan-mirror"
AUTHOR_URL = "https://t.me/MrRanjan"
# Buttons
VIEW_LINK = "True"
SOURCE_LINK = "True"
START_BTN1_NAME = "MrRanajn"
START_BTN1_URL = "https://t.me/MrRanjan"
START_BTN2_NAME = "Shivay"
START_BTN2_URL = "https://t.me/YourShivay"
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
# Custom bot commands
# Mirror Related Commands
START_CMD = ""    #Default is "start"
MIRROR_CMD = ""     #Default is "mirror"
ZIP_CMD = ""        #Default is "zipmirror"
UNZIP_CMD = ""      #Default is "unzipmirror"
CANCEL_CMD = ""     #Default is "cancel"
LIST_CMD = ""       #Default is "list"
SEARCH_CMD = ""     #Default is "search"
STATUS_CMD = ""     #Default is "status"
STATS_CMD = ""      #Default is "stats"
HELP_CMD = ""       #Default is "help"
CLONE_CMD = ""      #Default is "clone"
COUNT_CMD = ""      #Default is "count"
YTDL_CMD = ""      #Default is "ytdl"
YTDLZIP_CMD = ""   #Default is "ytdlzip"
QBMIRROR_CMD = ""   #Default is "qbmirror"
QBZIP_CMD = ""      #Default is "qbzipmirror"
QBUNZIP_CMD = ""    #Default is "qbunzipmirror"

#Leech Related CMDs
LEECH_CMD = ""      #Default is "leech"
LEECHSET_CMD = ""   #Default is "leechset"
SETTHUMB_CMD = ""   #Default is "setthumb"
UNZIPLEECH_CMD = "" #Default is "unzipleech"
ZIPLEECH_CMD = ""   #Default is "zipleech"
QBLEECH_CMD = ""    #Default is "qbleech"
QBUNZIPLEECH_CMD = "" #Default is "qbunzipleech"
QBZIPLEECH_CMD = ""    #Default is "qbzipleech"
YTDLLEECH_CMD = ""    #Default is "ytdlleech"
YTDLZIPLEECH_CMD = "" #Default is "ytdlzipleech"
CANCEL_ALL_CMD = "" #Default is  "cancelall
DELETE_CMD = ""     #Default is "del"

# RSS Realted Commands
RSSLIST_CMD = ""
RSSGET_CMD = ""
RSSSUB_CMD = ""
RSSUNSUB_CMD = ""
RSSSET_CMD = ""
ADDLEECHLOG_CMD = ""
RMLEECHLOG_CMD = ""
